<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тест</title>
    <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.css">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="keyboard/keyboard.js" charset="UTF-8"></script>
    <link rel="stylesheet" type="text/css" href="keyboard/keyboard.css">
</head>
<body>
    <header> 
        <nav>
            <div class="header-title">Тест</div> 
            <div class="timer" id="timer">{{ HH:mm:ss }}</div> 
        </nav>
        <div class="language">
            <select class="browser-default">
                <option value="1">Українська</option>
                <option value="2">Польська</option>
            </select>
        </div>
        <a class="exit" href="login.html">Вийти</a>
    </header>
    <div class="test-question-container">
        <div class="test-question-item">
            {% for question in questions %}
            <div class="question-title">{{ question.name }}</div>
            <!-- Если вопросы с вариантами -->
            <ul>
                {% for variant in variants %}
                    <li><input class="with-gap" name="question" type="radio" id="test1"><label for="test1">{{ question.variant.name }}</label></li>
                {% endfor %}
            </ul>
            <!-- Если ответ вписывается вручную -->
            <div class="right-answer">
                <input type="text" class="keyboardInput" placeholder="Запишіть правильну відповідь">
            </div>
            {% endfor %}
            <button class="waves-effect waves-light btn" type="submit" name="action">Відповісти</button>
        </div>
    </div>
    <script src="scripts/timer.js"></script>
</body>
</html>