<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список користувачів</title>
    <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header> 
        <nav>
            <!-- Список користувачів -->
            <div class="header-title">Список користувачів</div> 
        </nav>
        <div class="language">
          <select class="browser-default">
              <option value="1">Українська</option>
              <option value="2">Польська</option>
          </select>
      </div>
      <a class="exit" href="login.html">Вийти</a>
    </header>
    <table class="striped responsive-table view-result-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Им'я</th>
            <th>Телефон</th>
            <th>Чи вивчав раніше</th>
            <th>Кількість балів</th>
            <th>Подивитись результати тестів</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.learnedPolish }}</td> 
            <td>{{ user. }}</td>
            <td><a href="view-result-details.html">Подивитись результати тестів</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</html>